In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
raw_data=pd.read_csv('C:\\Users\\ajay3\\Desktop\\Internship\\HW Saver LLP\\Files\\Raw_Skills_Dataset.csv')

In [3]:
raw_data.shape

(34116, 1)

In [4]:
raw_data.head()

          RAW DATA
0         What ifs
1        seniority
2      familiarity
3  functionalities
4          Lambdas

In [5]:
raw_data.describe(include='all')

       RAW DATA
count     34116
unique    15677
top      Python
freq        272

In [6]:
raw_data.tail()

                                            RAW DATA
34111                                    negotiation
34112                                      deadlines
34113  Self-motivated, enthusiastic and strong drive
34114                                    negotiation
34115                                      deadlines

In [7]:
raw_data.columns=['Data']

In [8]:
raw_data

                                                Data
0                                           What ifs
1                                          seniority
2                                        familiarity
3                                    functionalities
4                                            Lambdas
...                                              ...
34111                                    negotiation
34112                                      deadlines
34113  Self-motivated, enthusiastic and strong drive
34114                                    negotiation
34115                                      deadlines

[34116 rows x 1 columns]

In [9]:
raw_data.value_counts().head(50)

Data
Python                272
AWS                   239
JavaScript            220
Kubernetes            180
Familiarity           172
SQL                   166
deployment            142
Git                   139
Azure                 137
CSS                   124
automation            124
Docker                120
-                     112
HTML                  109
frameworks            105
APIs                   88
Jenkins                88
scalability            82
stakeholders           81
documentation          80
Proficiency            80
troubleshooting        79
algorithms             78
Scala                  75
GCP                    74
Angular                72
Linux                  71
Ruby                   69
Terraform              65
databases              65
TypeScript             62
Kafka                  58
MySQL                  57
Bachelorâ€™s degree      55
Oracle                 55
GraphQL                54
configuration          53
Spark                  53
Golang                 53
jQuery                 52
JSON                   51
performance tuning     51
Microservices          49
reliability            49
HTML5                  48
Node.js                48
vendors                47
CI/CD                  47
DevOps                 47
 Proficiency           45
dtype: int64

In [10]:
#Familiarity, stakeholders, proficiency, reliability,vendors,bachelor's degree and - do not signify any particular skill

In [11]:
raw_data_no_duplicates=raw_data.drop_duplicates()

In [12]:
raw_data_no_duplicates

                                                Data
0                                           What ifs
1                                          seniority
2                                        familiarity
3                                    functionalities
4                                            Lambdas
...                                              ...
34106                           Leadership qualities
34108                                       Actalent
34109                                 all applicants
34110  Self-motivated, enthusiastic and strong drive
34111                                    negotiation

[15677 rows x 1 columns]

# any sentence which has special characters except ,/- are removed.

In [13]:
raw_data_no_duplicates= raw_data_no_duplicates.drop(raw_data_no_duplicates[raw_data_no_duplicates['Data'].str.contains(r'[^0-9a-zA-Z ,/-]')].index)

# We can also try to replace any special character with just a space

In [14]:
import re
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ajay3\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [15]:
from nltk.tokenize import word_tokenize

In [16]:
stop_wd = set(stopwords.words('english'))
def clean_text(data):
    data = re.sub('[^a-zA-Z]',' ',data)
    data = word_tokenize(data)
    data = [i for i in data if i not in stop_wd]
    data = ' '.join(data)
    return data

In [17]:
raw_data_no_duplicates['Clean']=raw_data_no_duplicates['Data'].apply(clean_text)

In [18]:
raw_data_no_duplicates

,Data,Clean
0,What ifs,What ifs
1,seniority,seniority
2,familiarity,familiarity
3,functionalities,functionalities
4,Lambdas,Lambdas
...,...,...
34106,Leadership qualities,Leadership qualities
34108,Actalent,Actalent
34109,all applicants,applicants
34110,"Self-motivated, enthusiastic and strong drive",Self motivated enthusiastic strong drive
34111,negotiation,negotiation

In [19]:
# From the data given to us in the example, we see all the data has capital letters to start with and we would like to see the same for every other data as well which are technical skills

In [20]:
def cap(i):
    list = []
    for a in i:
        count=0
        for b in a.split():
            if b[0].islower():
                count+=1
        if (count>0):
            list.append(0)
        else:
            list.append(1)
    return list

In [21]:
b=cap(raw_data_no_duplicates['Data'])

In [22]:
raw_data_no_duplicates['Tech']=b

In [23]:
raw_data_no_duplicates

,Data,Clean,Tech
0,What ifs,What ifs,0
1,seniority,seniority,0
2,familiarity,familiarity,0
3,functionalities,functionalities,0
4,Lambdas,Lambdas,1
...,...,...,...
34106,Leadership qualities,Leadership qualities,0
34108,Actalent,Actalent,1
34109,all applicants,applicants,0
34110,"Self-motivated, enthusiastic and strong drive",Self motivated enthusiastic strong drive,0
34111,negotiation,negotiation,0

In [24]:
tech = raw_data_no_duplicates[raw_data_no_duplicates["Tech"]==1]["Clean"]

In [25]:
tech.head(50)

4                             Lambdas
5                        Java Streams
7                Relational Databases
8                                 SQL
9                                 ORM
10                                JPA
11                          Hibernate
12                            MyBatis
16                              Maven
22                        Familiarity
55                             Python
62                              MySQL
63                             Oracle
64                       NoSQL Stores
66                         Clickhouse
67     Distributed Processing Engines
69                       Apache Flink
70                             Celery
71                 Distributed Queues
73                        AWS Kinesis
74                         GCP PusSub
76                                GCP
77                              Azure
78                                AWS
86                             TCP IP
87                              Kafka
106                       CAP Theorem
107                              RAFT
109                             Paxos
110                             CI CD
111                            Github
112                         Makefiles
113                     Microservices
117                              Ruby
118                    PerlExperience
119                             Bazel
121                    HTTP websocket
123                             Redis
167                  Web UIExperience
168                        JavaScript
169                              HTML
170                               CSS
174                           Angular
175                            Meteor
176                             Ember
177                          Knockout
179                               Vue
180                         Bootstrap
181                                ES
182                        TypeScript
Name: Clean, dtype: object